<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testing</title>
</head> 
<body>
  <form method="post" action="/login">
    <div>
      <label>USERNAME: </label>
      <input id="username-input", name="username" type="text">
    </div>
    <div>
      <label>PASSWORD: </label>
      <input type="password" name="password" id="password-input">
    </div>
    <button type="submit">SUBMIT</button>
  </form>
</body>
</html>